header {
    background-color: #F4F7FF;
    text-align: right;
    padding: 10px 10px 10px 10px;
    float: left;
}
.login {
    background-color: #DAE4FF;
}
.présentation {
    background-color: #FFFFFF;
}
.détails {
    background-color: #DAE4FF;
}
.produits {
    background-color: #FFFFFF;
}
.boutique {
    background-color: #DAE4FF;
}
footer {
    background-color: #FFFFFF;
}

h1 {
    font-size: 64px;
    font-family: 'avenir';
    font-weight: bold;
    color: #8584C5;
}
h2 {
    font-size: 43px;
    font-family: 'avenir';
    font-weight: bold;
    color: #A09EEB;
}
h3 {
    font-size: 36px;
    font-family: 'avenir';
    font-weight: bold;
    color: #A09EEB;
}
h4 {
    font-size: 24px;
    font-family: 'avenir';
    font-weight: bold;
    color: #424A71;
}
p {
    font-size: 15px;
    font-family: 'avenir';
    color: #8584C5;
}
