header {
    background-color: #F4F7FF;
}

.login {
    background-color: #DAE4FF;
}
.présentation {
    background-color: #FFFFFF;
}
.détails {
    background-color: #DAE4FF;
}
.produits {
    background-color: #FFFFFF;
}
.boutique {
    background-color: #DAE4FF;
}
